body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.split-screen {
  display: flex;
  height: calc(100vh - var(--top-header-height, 56px));
  width: 100vw;
}

.left-panel,
.right-panel {
  flex: 1;
  height: 100%;
}

.left-panel iframe,
.right-panel iframe {
  width:100%;
  height: 100%;
  border: none;
}

.top-header {
  padding: 20px 16px;
  background: #447C01;
  border-bottom: 1px solid rgba(0,0,0,0.06);
  text-align: center;
}

.top-header h1 {
  margin: 10px;
  font-size: 50px;
  font-family: "sweet-and-salty";
  font-weight: 800;
  font-style: normal;
  letter-spacing: 5px;
  color: white;
}

.top-header p {
  color: white;
  font-family: sans-serif;
  font-weight: 200;
  font-style: normal;
}

.right-header {
  background: rgb(228, 250, 220);
  color: #447C01;
  font-family: "sweet-and-salty";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding: 1rem 2rem;
}