body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.split-screen {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-panel,
.right-panel {
  flex: 1;
  height: 100%;
}

.left-panel iframe,
.right-panel iframe {
  width: 100%;
  height: 100%;
  border: none;
}